@use '../../../../styles/mixins'as*;

.address-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 4rem;
    margin-bottom: 2rem;
    @include size('padding-block', 40, 10);
    @include rmax($lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include rmax($md) {
        grid-template-columns: 1fr;
    }

    li {
        display: flex;
        align-items: center
    }
}

.address-card {
    position: relative;
    min-height: 10rem;
    font-size: 2rem;
    @include size('min-height', 100, 48);
    @include size('font-size', 20, 16);

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-weight: 500;
        font-size: 2rem;
        @include size('font-size', 20, 16);

    }

    &__text,
    &__link {
        display: block;
        font-weight: 300;
    }
}

.address-circle {
    position: relative;
    background-color: var(--c-pink);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    @include size('width', 100, 50);
    @include size('height', 100, 50);
    margin-right: 1.5rem;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        width: 5rem;
        height: 5rem;
        @include size('width', 50, 25);
        @include size('height', 50, 25);
        @include mask-contain;
        mask-image: var(--icon-location);
        background-color: var(--c-white);
    }

    &__phone {
        &::after {
        mask-image: var(--icon-phone);
    }
    }

    &__mail {
        &::after {
            mask-image: var(--icon-email);
        }
    }

}