<section class="tabs">
    <div class="tabs-nav">
        <div class="tabs-nav__item">
            <ul class="tabs-nav">
                <li>
                    <a href="#tab0" class="tabs-nav__link active">Downhill</a>
                </li>
                <li>
                    <a href="#tab1" class="tabs-nav__link">Ebduro</a>
                </li>
                <li>
                    <a href="#tab2" class="tabs-nav__link">Trail</a>
                </li>
            </ul>
            <div class="tabs__wrapper">
                <div class="tabs-content active"></div>
                <div class="tabs-content"></div>
                <div class="tabs-content"></div>
            </div>
        </div>
    </div>
</section>