@use '../../../styles/mixins'as*;

.header {
    background-color: var(--c-dark);
    color: var(--c-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    &-container {
        display: flex;
        justify-content: space-between;
    }
}

.header-top {
    border-bottom: .1rem solid var(--c-white);
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-block: 1.2rem;
    }
}

.header-bottom {
    padding-block: 1rem 2rem;
    @include rmax($md) {
        padding-block: 1rem;
    }
}

.contact-info {
    display: flex;
    gap: 4rem;

    @include rmax($md) {
        font-size: 0;  
        gap: 1.6rem;
    }

    &__link {
        transition: color .3s ease-in-out;
        @include hover {
            color: var(--c-pink);
        }
        &::before {
            background-color: var(--c-lightgrey);
        }

    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 3.2rem;

    @include rmax($md) {
        position: absolute;
        top: 100%;
        left: -200%;
        width: 100%;
        padding-block: 3rem;
        padding-inline: 1.5rem;
        background-color: var(--c-pink);
        flex-direction: column;
        gap: 2.4rem;
        transition: .3s ease-in-out;
    }

    &__link {
        position: relative;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 300;
        transition: color .3s ease-in-out;
        padding-bottom: .5rem;
        @include hover {
            color: var(--c-pink);
        }
        &.active {
            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 110%;
                height: .1rem;
                background-color: #fff;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

}

.burger.active + .menu {
    
    @include rmax($md) {
        left: 0;

    }
}