<article class="bike-card">
    <img src="/src/assets/images/bicycles/{{bikeImageName}}.webp" alt="bike picture" width="235" height="185" loading="lazy" class="bike-card__img">
    <div class="bike-card__content">
        <h3 class="bike-card__title">{{bikeName}}</h3>
        <p class="bike-card__label">{{bikeLabel}}</p>
        <div class="bike-card__bottom">
            <div class="bike-card__price">
                <span class="bike-card__cost">$ {{bikePrice}}</span> / Days
            </div>
            <a href="#request">
                <button class="btn btn--white modal-btn" type="button">rent</button>
            </a>
        </div>
    </div>
</article>