@use '../../../styles/mixins'as*;

.choose-bike {
    @include size('padding-top', 100, 35);
    @include size('padding-bottom', 100, 35);


    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-wrap: wrap;

    }

    .content {
        @include rmax($xl) {
            margin-inline: auto;
            text-align: center;

            .btn {
            margin-inline: auto;
            }
        }
    }

    .title {
        margin-bottom: 5rem;
        color: var(--c--darkgrey);
        @include rmax($xl) {
        margin-bottom: 2.4rem;
            &::before  {
                margin-inline: auto;
            }

            br {
                display: none;
            }
        }
    }

    .bikes-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        .visible-md {
            display: none;
            @include rmax($md) {
                grid-template-columns: repeat(2, 1fr);
                display: block;
            }

            @include rmax($sm) {
                display: none;
            }
        }

        @include rmax($xl) {
            margin-inline: auto; 
            .bike-card {
                min-width: 23rem;
                width: 100%;
            }
        }

        @include rmax($md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include rmax($sm) {
            grid-template-columns: 1fr;
        }
    }
}