.services-advantages {

    .advantages__inner {
        padding-block: 6rem 10rem;
        justify-content: flex-end;
        background: url('/src/assets/images/services/car.webp') left center no-repeat;
        background-size: 60rem;
    }
}