@use '../../../../styles/mixins'as*;


.services-advantages {

    .advantages__inner {
        padding-block: 6rem 10rem;
        justify-content: flex-end;
        background: url('/src/assets/images/services/car.webp') no-repeat;
        background-position: left center;
        background-size: 60rem;
        @include rmax(1050) {
            padding-block: 6rem;
        }
        @include rmax($md) {
            background-position: center;
            background-size: cover;
        }
    }

    .content {
        @include rmax(1050) {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.5rem;
            padding: 1.5rem;
        }

        @include rmax($md) {
            background-color: rgba(255, 255, 255, .7);
            padding: 1.5rem;
        }
    }
}