<footer class="footer">
    <section>
        <h2 class="sr-only">Miscellaneous information</h2>
        <div class="container footer__grid">
            <div class="footer__group">
                <div class="footer-details">
                    <include src="html/components/logo/_index.html"></include>
                    <p class="footer-details__text">At nemore iriure luptatum nam, at iudico
                        albucius console pericula this is partiendo
                        constituam at per.</p>
                    <include src="html/components/social/_index.html"></include>
                </div>
            </div>
            <div class="footer__group">
                <div class="insta-blog">
                    <h3 class="footer-title">Instagram</h3>
                    <ul class="insta-blog__list">
                        <li>
                            <img src="/src/assets/images/bicycles/p-1.webp" alt="insta-image" width="100" height="75" loading="lazy" class="insta-blog__img">
                        </li>
                        <li>
                            <img src="/src/assets/images/bicycles/p-2.webp" alt="insta-image" width="100" height="75" loading="lazy" class="insta-blog__img">
                        </li>
                        <li>
                            <img src="/src/assets/images/bicycles/p-3.webp" alt="insta-image" width="100" height="75" loading="lazy" class="insta-blog__img">
                        </li>
                        <li>
                            <img src="/src/assets/images/bicycles/p-4.webp" alt="insta-image" width="100" height="75" loading="lazy" class="insta-blog__img">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__group">
                <address class="contacts">
                    <h3 class="footer-title">Contact Us</h3>
                    <ul class="contacts__list">
                        <li>
                        <span class="color-accent fw-700">Phone: </span>
                            <a class="contacts__link" href="tel:+10452241267">+ 1 (045) – 224 – 12 – 67</a>
                        </li>
                        <li>
                        <span class="color-accent fw-700">Address: </span>
                            <a class="contacts__link" href="https://maps.app.goo.gl/5Vadd4PTkit6bkfD8">
                                221 Beker St, 
                                <p>Los Angeles, USA</p>
                            </a>
                        </li>
                        <li>
                        <span class="color-accent fw-700">Email: </span>
                            <a class="contacts__link" href="mailto:trialem@rent.com">trialem@rent.com</a>
                        </li>
                    </ul>
                </address>
            </div>
            <div class="footer__group">
                <div class="subscribe">
                    <h3 class="footer-title">Subscribe</h3>
                    <form class="subscribe-form">
                        <div class="subscribe-form__group">
                            <label for="email" class="sr-only">Enter your email</label>
                            <input class="subscribe-form__input" type="email" name="email" id="email" placeholder="Your mail" required>
                            <button class="subscribe-form__btn">
                                <span class="sr-only">Submit form</span>
                            </button>
                        </div>
                    </form>
                    <p>Nam, at iudico albucius pericula at nemore
                        iriure luptatum.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p class="copy">Zemez ©. All rights reserved.</p>
    </div>
</footer>