@use '../../../../styles/mixins'as*;

.feedback {
    padding-block: 8rem 6rem;
    @include size('padding-block', 80, 35);
    &__inner {
        display: grid;
        grid-template-columns: 30rem 86rem;
        @include rmax($xl) {
            display: flex;
            flex-direction: column;
            max-width: 93rem;
        }

        @include rmax($lg) {
            max-width: 48rem;
        }

        @include rmax($sm) {
            max-width: 48rem;
        }

        // @include rmax($xs) {
        //     max-width: 40rem;
        // }
    }

    .content {
        @include rmax($xl) {
            margin-inline: auto;
            text-align: center;
        }
        // @include rmax($xl) {
        //     margin-inline: auto;
        //     text-align: center;
        // }
    }

    .title {
        margin-bottom: 3.5rem;
        color: var(--c--darkgrey);
        @include rmax($xl) {
            &::before {
                margin-inline: auto;
            }
        }
    }

    .slider-actions {
        display: flex;
        gap: 1.2rem;
        @include rmax($xl) {
            justify-content: center;
        }
    }

    .slider-btn {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        border: .1rem solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: .2rem solid transparent;
        outline-offset: 0;
        transition: .3s ease-in-out;
        user-select: none;

        &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            mask-image: var(--icon-prev);
            @include mask-contain;
            background-color: currentColor;
        }

        &--next {
            &::before {
                transform: scaleX(-1);
            }
        }

        &[disabled] {
            color: var(--c-grey);
            pointer-events: none;
        }

        &:focus {
            outline-color: var(--c-pink);
            outline-offset: .3rem;
        }

        @include hover {
            color: var(--c-pink);
        }
    }

    .slider {
        padding-block: 3rem;
    }

    .swiper {
        width: 100%;   //!!!!!
    }

    .swiper-wrapper {
        box-sizing: border-box !important;
    }

    .swiper-slide {
        box-sizing: border-box !important;
        width: fit-content !important;
        margin: 0 2rem;
    }
}

.feedback-card {
    max-width: 40rem;
    min-height: 23rem;
    padding: 4rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.07);
    margin: 2rem .5rem 2rem .5rem;
    user-select: none;

    @include rmax($sm) {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        min-height: 25rem;
    }

    &__body {
        margin-bottom: 2rem;
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 1.6rem;

    }

    &__title {
        font-weight: 500;
    }

    &__info {
        font-size: 1.2rem;
        font-weight: 300;
        color: var(--c-grey);
    }
}
