:root {
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Anton', sans-serif;

  --c-white: #fff;
  --c-dark: #212223;
  --c-lightgrey: #B2B2B9;
  --c-grey: #62656A;
  --c--darkgrey: #353637;
  --c-pink: #FF285B;
  --c-purple: #381C75;
}











